
/* #login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}
#login-inputs-box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 2px;

} */


.input-col{
    margin-top: 5px;
    width: 100%;
    /* background-color: aliceblue; */
}
.inp-field{
    width: 98%;
    padding: 8px 2px;
}